.root {
  padding: var(--space-xl) 15% 5% 15%;
  background: #e5e5e5;
  flex: 1;
}

.Wrapper {
  padding: 60px 10% 80px 10%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.ButtonsGroup {

}
